@model IEnumerable<SubCategory>

@{
    ViewData["Title"] = "Index";
}

<header class="jumbotron">
    <h1>Sub Categories List</h1>
</header>

<section class="background-white background-border">
    <div class="row">
        <div class="col-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Category)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.Category.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Name)
                        </td>
                        <td>
                            @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                <partial name="_TableButtons" model="item.CategoryId" />*@
                            <a class="btn btn-success text-white" asp-action="Edit" asp-route-id="@item.Id">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="btn btn-info text-white" asp-action="Details" asp-route-id="@item.Id">
                                <i class="fas fa-list"></i>
                            </a>
                            <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.Id">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <p>
                <partial name="_AddButton" />
            </p>
        </div>
    </div>
</section>
            
